<script
  src="https://kit.fontawesome.com/64d58efce2.js"
  crossorigin="anonymous"
></script>

<div class="footer">
  <div class="dialer">
    <a href="tel:+17192509315">Questions ? Call Me !</a>
    <!-- number should be 17192404733 -->
  </div>
  <div class="kudos">
    <img src="/images/ReMaxLogo.webp" alt="" />
    <div class="kudos-text">
      Pueblo Association of Realtors<br />
      Salesperson of the Year 2006 & 2019<br />
      RE/MAX Hall of Fame - Inducted 2017
    </div>
    <img src="/images/HallofFame.webp" alt="" />
  </div>
  <div class="mls-app">
    <a href="https://navicaclient.com/9874530B">Download the MLS App!</a>
  </div>
</div>
