<script src="/modal.js" defer></script>
<div class="modal map-modal" id="map-modal">
  <div id="map" style="height: 100%; border-radius: 10px"></div>
  <script
     src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXpeW3aKNrpIAaC7sFuD1IdRPv5x7Ja7A&v=weekly">
  </script>
  <button data-close-button class="map-close-btn close-button">&times;</button>
</div>
<div id="overlay"></div>
<script src="/maps.js"></script>
<script src="/kill-google.js"></script>