<link rel="stylesheet" href="/stylesheets/navstyles.css" />
<nav>
  <div class="logo">
    <img
      src="/images/ReMaxLogo.webp"
      class="navlogo"
      alt="ReMax Logo"
      width="50"
      height="35"
    />
    <div class="nav-title">
      <h4>Mark Chorak</h4>
      <p>Re/Max Associates</p>
    </div>
  </div>
  <ul class="nav-links">
    <li><a href="/">Home</a></li>
    <li><a href="/articles/contact">Contact</a></li>
    <li><a href="#">About</a></li>
    <li><a href="/articles/admin">Admin</a></li>
    <li><a href="/articles/selling">Selling?</a></li>
  </ul>
  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</nav>
<script type="text/javascript" src="/app.js"></script>
