<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Selling?</title>
  </head>
  <body>
    <%- include('_navbar') %>
    <header>
      <p>Thinking of selling your property? I can help</p>
      <img src="/images/Mark.jpg" alt="" />
    </header>
    <p>
      Marketing Your Property List with Me & Make Your Property Stand Out! When
      you choose to list a property with me, you can count on receiving the
      benefit of a strong marketing campaign! ALL of my listings are marketed
      and/or advertised on: RE/MAX Associates Website -Check it out This Website
      - MarkChorak.com! Email Notifications to other agents in the area Social
      Media - Facebook, YouTube, Instagram Zillow & Trulia Paid Print
      Advertisements Email Newsletters WORD OF MOUTH! Professional Signage at
      the property
    </p>
    <%-include('_footer') %>
  </body>
</html>
