.modal,
.map-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: hsl(204, 80%, 70%, 0.5);
  max-width: 250px;
  min-width: 180px;
  display: none;
}

.map-modal {
  max-width: 100%;
  width: 60%;
  height: 40%;
}

.map-close-btn {
  font-size: 1.5rem;
  border: none;
  color: aliceblue;
  border-radius: 0.6rem;
  padding: 4px;
  margin-left: 2px;
  background-color: hsl(0, 77%, 60%);
  transform: translateY(-60px);
  /* margin-top: -60px; */
}

.modal.active,
.map-modal.active {
  display: block;
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header a img {
  width: 7rem;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

/* Mortgage Calculator Styling */
.title {
  font-size: 2rem;
  margin: 0;
}
